@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
  --color-blue: hsl(223, 87%, 63%);
  --color-pale-blue: hsl(223, 100%, 88%);
  --color-light-red: hsl(354, 100%, 66%);
  --color-gray: hsl(0, 0%, 59%);
  --color-dark-blue: hsl(209, 33%, 12%);

  --font-Libre-Franklin: 'Libre Franklin', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

$breakpoints: (
  small: 375px,
  medium: 768px,
  large: 1024px,
  x-large: 1440px,
);
