.header {
  text-align: center;
  padding-top: 3em;

  &__title {
    font-weight: 500;
    color: var(--color-gray);
    padding: 1.5em 0 0.5em;
  }
  strong {
    color: initial;
  }
  &__subtitle {
    margin-bottom: 2em;
    font-size: 0.8rem;
  }
}
